<!DOCTYPE html>
<html>
<head>
    <title>CIS3530 Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<nav>
    <a href="{{ url_for('home') }}">Employee Overview</a>
    <a href="{{ url_for('projects') }}">Project Overview</a>
    <a href="{{ url_for('employees') }}">Employee Management</a>
    <a href="{{ url_for('managers') }}">Manager Overview</a>
    <a href="{{ url_for('logout') }}">Logout</a>
</nav>

{% if current_role() %}
<p style="font-size: 12px;">Logged in as: {{ current_role() }}</p>
{% endif %}

<hr>

{% block content %}{% endblock %}

</body>
</html>
