{% extends "layout.html" %}
{% block content %}

<h2>Login</h2>

<form method="POST" style="display: inline-block;">

    <div style="margin-bottom: 12px;">
        <label>Username:</label><br>
        <input type="text" name="username" required>
    </div>

    <div style="margin-bottom: 12px;">
        <label>Password:</label><br>
        <input type="password" name="password" required>
    </div>

    <button type="submit">Login</button>

</form>

{% for message in get_flashed_messages() %}
    <p style="color: red;">{{ message }}</p>
{% endfor %}

{% endblock %}
