{% extends "layout.html" %}
{% block content %}

<h2>Project Overview</h2>

<form method="GET">
    <select name="sort">
        <option value="name_asc"  {% if sort=='name_asc' %}selected{% endif %}>Name ↑</option>
        <option value="name_desc" {% if sort=='name_desc' %}selected{% endif %}>Name ↓</option>
        <option value="headcount_asc"  {% if sort=='headcount_asc' %}selected{% endif %}>Employees ↑</option>
        <option value="headcount_desc" {% if sort=='headcount_desc' %}selected{% endif %}>Employees ↓</option>
        <option value="hours_asc" {% if sort=='hours_asc' %}selected{% endif %}>Hours ↑</option>
        <option value="hours_desc" {% if sort=='hours_desc' %}selected{% endif %}>Hours ↓</option>
    </select>

    <button type="submit">Sort</button>
</form>

<table border="1">
<tr>
    <th>Project Name</th>
    <th>Department</th>
    <th>Employees Assigned</th>
    <th>Total Hours Assigned</th>
</tr>

{% for p in projects %}
<tr>
    <td>
      <a href="{{ url_for('project_details', project_id=p[0]) }}">
          {{ p[1] }}
      </a>
    </td>

    <td>{{ p[1] }}</td>
    <td>{{ p[2] }}</td>
    <td>{{ p[3] }}</td>
</tr>
{% endfor %}

</table>

{% endblock %}
